<div class="row nav">
    <div class="col-6">
        <h1 class="titulo">Ruleta: Anfapra</h1>
    </div>
    <div class="col-3 offset-3 btnLogOut" (click)="logOut()">
        <i class="bi bi-lock-fill icon"></i>
    </div>
</div>
<div class="row">
    <div class="ruletaContainer col-6">
        <div class="row displayMonto">
            <h1 class="montoTitle">Monto total:</h1>
            <p #montoTotal class="monto"></p>
        </div>
        <div class="row">
            <div class="container row">
                <i class="bi bi-caret-down-fill arrow"></i>
                <img #asImg src="../assets/Ruleta.svg" class="ruleta1"/>
            </div>
        </div>
    </div>
    <div class="operacionContainer col-6">
        <mat-tab-group>
            <div class="row">
                <mat-tab label="Apostar">
                    <div class="tap1 row">
                        <h1 class="apostartitulo">¡Has tu apuesta!</h1>
                        <div class="colorApostar row fila">
                            <mat-form-field>
                                <mat-label>Color a Apuestar</mat-label>
                                <select matNativeControl required #colorApuesta>
                                    <option value="Rojo">Rojo</option>
                                    <option value="Negro">Negro</option>
                                    <option value="Verde">Verde</option>
                                </select>
                            </mat-form-field>
                        </div>
                        <div class="porcentajeApostar row fila">
                            <mat-form-field>
                                <mat-label>Porcentaje de Apuestar</mat-label>
                                <select matNativeControl required #porcentajeApuesta>
                                    <option value="8" name="porcentaje">8%</option>
                                    <option value="15" name="porcentaje">15%</option>
                                    <option value="100" name="porcentaje">All-In</option>
                                </select>
                            </mat-form-field> 
                        </div>
                        <div class="row contendorBtnAp">
                            <button (click)="validarGanador()" class="btnSty">Apostar</button>
                        </div>
                    </div>
                </mat-tab>
            </div>
            <div>
                <mat-tab label="Fondear Cuenta">
                    <div class="tap1 row">
                        <div class="row fila">
                            <h1 class="apostartitulo1">Fondear cuenta</h1>
                            <div class="row monto1">
                                <p class="monto1">Monto:</p><p #montoTotalFondeo class="monto1"></p>
                            </div>
                        </div>
                        <div class="fila1 row">
                            <label class="des">Ingresa la cantidad:</label>
                            <input type="number" #valorFondear class="inputAc"/>
                        </div>
                        <div class="row contendorBtnAp">
                            <button (click)="fondear()"  class="btnSty">Fondear</button>
                        </div>
                    </div>
                </mat-tab>
            </div>
            <div>
                <mat-tab label="Usuario">
                    <div class="tap1 row">
                        <div class="row fila">
                            <h1 class="apostartitulo">Edita tu perfil</h1>
                        </div>
                        <div class="row fila">
                            <div class="row field">
                                <div class="col-2">
                                    <p class="des">Username:</p>
                                </div>
                                <div class="col-4">
                                    <p class="des" #usernameDB></p>
                                </div>
                            </div>
                            <div class="algBtnInp">
                                <div class="row filaa">
                                    <input type="text" #updateUsername class="inputAc"/>
                                </div>
                                <div>
                                    <button (click)="updateNombreU()" class="btnSty1">Editar username</button>
                                </div>
                            </div>
                        </div>
                        <div class="row fila">
                            <div class="row field">
                                <div class="col-2">
                                    <p class="des">Password:</p>
                                </div>
                                <div class="col-8">
                                    <p class="des">Ingrese nueva contraseña</p> 
                                </div>
                            </div>
                            <div class="row filaa">
                                <input type="password" #updatePassword class="inputAc"/>    
                            </div>
                            <div>
                                <button (click)="updateClave()" class="btnSty1">Editar contraseña</button>
                            </div>
                        </div>
                        <div class="row fila">
                            <div class="row field">
                                <div class="col-2">
                                    <p class="des">Nombre:</p>
                                </div>
                                <div class="col-8">
                                    <p #nombreDB class="des"></p> 
                                </div>
                            </div>
                            <div class="row filaa">
                                <input type="text" #updateNombre class="inputAc"/>    
                            </div>
                            <div>
                                <button (click)="updateName()" class="btnSty1">Editar nombre</button>
                            </div>
                        </div>
                        <div class="row fila">
                            <h1 class="des1 algCenter">Eliminar Cuenta</h1>
                            <div>
                                <button (click)="borrarCuenta()" class="btnSty1">Borrar Cuenta</button>
                            </div>
                        </div>
                    </div>
                </mat-tab>
            </div>
          </mat-tab-group>
    </div>
</div>