.ruleta1{
    width:40%
}
.btn{
    background-color: purple;
}
.btn:active{
    background-color: blue;
}
.container{
    display: flex;
    justify-content: center;
    width: 100%;
}
.arrow{
    display: flex;
    justify-content: center;
}
.operacionContainer{
    background-color: aqua;
}
